@model TestWebAppUsingCSharpVisualStudio.Models.FootballTeam

<form action="/FootballTeams/Create" method="post">

    <div>
        @Html.LabelFor(t=>t.Name)
    </div>
    <div>
        @Html.TextBoxFor(t=>t.Name)
    </div>
    <br />
    <div>
        @Html.LabelFor(t => t.Year)
    </div>
    <div>
        @Html.TextBoxFor(t => t.Year)
    </div>
    <br />
    <div>
        @Html.LabelFor(t => t.Nationality)
    </div>
    <div>
        @Html.TextBoxFor(t => t.Nationality)
    </div>
    <br />

    <button type="submit">Save team</button>
</form>
